---
layout : default
---
<!--Hey! This is the original version
of Simple CSS Waves-->

{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
{% assign popular_posts = site.posts_popular %}


<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->
      <h1>Dangchan's DataLog</h1>
      <h2>통계학을 전공하고 있는 대학원생의 데이터사이언스 블로그입니다.</h2>
      <div class="button-container">
        <div class='button -regular center'>
          <a href="/about/" style="color: #161616;">About Me</a>
        </div>
      </div>
    </div>
    
    <!--Waves Container-->
    <div class="waves-container">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" x="48" y="0" fill="#f461c1"/>
      <use xlink:href="#gentle-wave" x="48" y="3" fill="#4579e2"/>
      <use xlink:href="#gentle-wave" x="48" y="5" fill="#3461c1"/>
      <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff"/>  
    </g>
    </svg>
    </div>
    <!--Waves end-->
    
</div>

<!--Recent posts-->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Popular Posts</h2>
    </div>
  </div>
  <div class="row">
    {% for post in popular_posts limit:4 %}
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          {% if post.excerpt %}<p class="card-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 50 }}</p>{% endif %}
          <a href="{{ post.url }}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div> -->


<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/index.css"></style>