<div class="cv">
        <h1 class="row">
                <div class="column">
                    📚 Interest
                </div>
                <div class="column">
                    <button type="button" class="btn btn-toggle" data-toggle="button" onclick="toggleLanguage()" id="toggleButton">KOR</button>
                </div>
        </h1>
                        
        
        <h2 class="translation-toggle" data-lang="en"> Data-based Public Safety </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Smart city and IoT data analysis </li>
            <li> Spatial Data Analysis </li>
            <li> Crime/Transportation Data Analysis </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">데이터 기반의 공공안전</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 스마트 시티 관련 IoT 데이터 분석 </li>
            <li> 공간 자료 분석 </li>
            <li> 범죄/교통 데이터 분석 </li>
        </ul>

        <h2 class="translation-toggle" data-lang="en"> Data Science </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Differential Privacy for Spatial/Spatiotemporal Data </li>
            <li> Causal Inference </li>
            <li> Graph Neural Network </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">데이터 과학</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 공간/시공간 자료에 대한 차등적 정보보호 기술 </li>
            <li> 공간 자료에서의 인과 추론 </li>
            <li> 그래프 신경망 모델 </li>
        </ul>
        
        <h1> 🎓 Education </h1>
        
        <h2 class="translation-toggle" data-lang="en"> Department of Statistics, Seoul National University - 2022.03 ~ </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> M.S in Statistics </li>
            <li> Spatial Statistics Lab. (Advisor: Prof. Lim Chae Young) </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">서울대학교 통계학과 - 2022.03 ~</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 통계학 석사 </li>
            <li> 공간통계 연구실 (지도교수: 임채영 교수님) </li>
        </ul>
        
        <h2 class="translation-toggle" data-lang="en"> Korea National Police University - 2021.02 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Bachelor of Public Administration </li>
            <li> Bachelor of Police Science </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">경찰대학 - 2021.02</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 행정학 학사 </li>
            <li> 경찰학 학사 </li>
        </ul>
        
        <h1> 🥇 Projects and Awards </h1>
        
        <h2 class="translation-toggle" data-lang="en"> Consulting, Smart Policing Big Data Platform - 2024.01 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Publishing a prediction model for voice phishing crime risk areas </li>
            <li> <a href="">Link</a> </li>
        </ul>
        <h2 class="translation-toggle" data-lang="ko" style="display: none;">스마트 치안 빅데이터 플랫폼 자문- 2024.01</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 보이스피싱 범죄 위험지역 예측 모델 개발 </li>
            <li> <a href="">링크</a> </li>
        </ul>        
        
        <h2 class="translation-toggle" data-lang="en"> Team Leader, Deep Learning Project - Fall 2023 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Developed a flow-based VAE for learning semi-Markovian DAGs </li>
            <li> <a href="https://github.com/ddangchani/NFG-VAE">Github link</a> </li>
        </ul>

        <h2 class="translation-toggle" data-lang="ko" style="display: none;">딥러닝의 통계학적 이해 팀 프로젝트(팀장) - 2023.02</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li>semi-Markovian 비순환 방향성 그래프 학습을 위한 flow 기반 VAE 개발</li>
            <li> <a href="https://github.com/ddangchani/NFG-VAE">Github link</a> </li>
        </ul>
        
        <h2 class="translation-toggle" data-lang="en"> 2nd Prize, Safety Data Analysis Competition - 2023.02 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Developed a prediction model for voice phishing crime risk areas </li>
            <li> Used space-time kernel density estimation and spatial lag regression model </li>
            <li> <a href="https://github.com/ddangchani/LocalSecurity_competition">Github link</a> </li>
        </ul>

        <h2 class="translation-toggle" data-lang="ko" style="display: none;">2위, 지역치안데이터 경진대회 - 2023.02</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 보이스피싱 범죄 위험지역 예측 모델 개발 </li>
            <li> 시공간 커널 밀도 추정과 공간회귀분석 이용 </li>
            <li> <a href="https://github.com/ddangchani/LocalSecurity_competition">Github link</a> </li>
        </ul>
        
        <h2 class="translation-toggle" data-lang="en"> 3rd Prize, Seoul IoT city data hackathon - 2022.07 </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Analyzed accident risk factors and predicted accident severity for personal mobility devices (PMs) </li>
            <li> Used S-DoT city data and ordinal regression model as methodology </li>
            <li> <a href="https://github.com/ddangchani/IOT_hackathon">Github link</a> </li>
        </ul>

        <h2 class="translation-toggle" data-lang="ko" style="display: none;">서울시장상, 서울 IoT 도시 데이터 해커톤 - 2022.07</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 개인형 이동수단 사고 위험요인 분석 및 사고 심각도 예측 </li>
            <li> S-DoT 도시 데이터와 순서형 회귀 모델 사용 </li>
            <li> <a href="https://github.com/ddangchani/IOT_hackathon">Github link</a> </li>
        </ul>
        
        <h1> 👮‍♂️ Experience </h1>
        
        <h2 class="translation-toggle" data-lang="en"> Korea National Police Agency - 2021.03 ~ </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Police Officer, Lieutenant </li>
            <li> Platoon Leader of Auxiliary Police, Seoul Metropolitan Police Agency </li>
        </ul>

        <h2 class="translation-toggle" data-lang="ko" style="display: none;">경찰청 - 2021.03 ~</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 경찰관(경위) </li>
            <li> 서울지방경찰청 의무경찰  소대장 </li>
        </ul>
        
        <h2 class="translation-toggle" data-lang="en"> Teaching Assistant, Seoul National University </h2>
        <ul class="translation-toggle" data-lang="en">
            <li> Statistics Lab - Spring 2023 </li>
            <li> Introduction to Data Science - Fall 2023 </li>
            <li> LG Electronics Advanced Data Science Course - 2024.01. </li>
            <li> Samsung Electronics Data Science Course - 2024.02. </li>
            <li> Statstical Computing - Spring 2024 </li>
        </ul>

        <h2 class="translation-toggle" data-lang="ko" style="display: none;">강의조교</h2>
        <ul class="translation-toggle" data-lang="ko" style="display: none;">
            <li> 통계학 실험 - 2023 봄학기 </li>
            <li> 데이터사이언스의 기초 - 2023 가을학기 </li>
            <li> LG전자 Data Sceince 과정 - 2024.01. </li>
            <li> 삼성전자 Data Science 과정 - 2024.02. </li>
            <li> 통계계산 - 2024 봄학기 </li>
        </ul>
</div>
<br>


<!-- <div class="cv_file">
    <button type="button" class="btn btn-outline-primary">
        <a href="https://ddangchani.github.io/assets/cv.pdf">📄 Download CV</a>
    </button>
</div> -->

        
<style>
            body {
                word-break: keep-all;
            }
            h1 {
                /* font-size: 1.5em !important; */
                /* border-bottom: none !important; */
                margin-bottom: 0.5em !important;
        
            }
            h2 {
                padding-left: 0.5em !important;
                font-size: 1.25em;
                font-weight: normal !important;
                border-bottom: none !important;
                margin-top: 0em !important;
                margin-bottom: 0em !important;
            }
            h3 {
                font-size: 1em;
            }
            ul {
                font-size: 0.9em !important;
                margin-top: 0em !important;
            }
        
            ul ul {
                margin-top: 0.5em !important;
                font-size: 0.8em !important; 
                text-indent: 1em !important;
                padding-left: 1em !important;
            }
        
            .word-highlight {
                font-weight: bold;
                font-size: 1em !important;
                display: inline-block;
                position: relative;
                width: fit-content;
            }
        
            .word-highlight::after{
                content: "";
                width: 0; /* Initially, the highlight starts with no width */
                height: 100%;
                background-color: rgba(155,251,225,0.5);    
                position: absolute;
                left: 0;
                transition: width 0.3s ease-in-out; /* Transition width property */
                pointer-events: none;
                z-index: -1;
        }
        
        .intro {
            cursor: pointer;
        }
        
        .intro:hover .word-highlight::after {
            width: 100%;
        }

        .cv .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 0.1em !important;

            .btn-toggle {
                font-size: 0.8em;
                padding: 0.25em 0.5em;
                font-style: normal;
                font-weight: 600;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155,251,225,0.5);
                }

            }
        }

        .cv_file {
            text-align: center;
            margin-top: 3em;

            .btn {
                font-size: 0.8em;
                padding: 0.25em 0.5em;
                font-style: normal;
                font-weight: 600;
                background-color: #fff;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: .25rem;
                cursor: pointer;

                &:hover {
                    background-color: rgba(155,251,225,0.5);
                    color: black;
                    text-decoration: none !important;
                }
            }
        }
        
</style>

<script>

        var currentLanguage = 'en';

        function toggleLanguage() {
            var elements = document.querySelectorAll('.translation-toggle');
            var button = document.getElementById('toggleButton');
                
                if (currentLanguage == 'en') {
                        elements.forEach(function(element) {
                        element.style.display = 'none';
                        });
                        elements = document.querySelectorAll('[data-lang="ko"]');
                        elements.forEach(function(element) {
                        element.style.display = 'block';
                        });
                        currentLanguage = 'ko';
                        button.innerHTML = 'ENG';

                } else {
                        elements.forEach(function(element) {
                        element.style.display = 'none';
                        });
                        elements = document.querySelectorAll('[data-lang="en"]');
                        elements.forEach(function(element) {
                        element.style.display = 'block';
                        });
                        currentLanguage = 'en';
                        button.innerHTML = 'KOR';
                }
        }
</script>