---
layout: archive
---

{{ content }}

{% assign tags = site.data.tags %}

<!--Assign Tag List-->
{% assign tags_sorted = tags | sort_natural %}

<div class="taxonomy__index">
  {% for tag in tags_sorted %}
    {% capture tag_size %}{{ site.tags[tag] | size }}{% endcapture %}
    {% capture font_size %}{{ tag_size | divided_by: 2 | plus: 14 }}{% endcapture %}
      {% if tag_size > "0" %}
        <a href="#{{ tag | slugify }}" style="font-size: {{font_size}}px;">
          <strong>{{ tag }}</strong> <span class="taxonomy__count">{{ tag_size }}</span>
        </a>
      {% endif %}
  {% endfor %}
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for tag in tags_sorted %}
  <section id="{{ tag | slugify | downcase }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ tag }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in site.tags[tag] %}
        {% include archive-single.html type=entries_layout %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
